<h3>Forgot Password</h3>
<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput id="email" type="email" formControlName="email" />
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
      Email is invalid.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Send Password Reset Link</button>
  <a mat-button color="accent" [routerLink]="['/login']">Login</a>
</form>