<h3>Sign Up</h3>
<form [formGroup]="registrationForm" (ngSubmit)="signup()" class="registration-form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Username</mat-label>
    <input matInput id="userName" formControlName="userName" />
    <mat-error *ngIf="registrationForm.get('userName')?.hasError('required')">
      Username is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('userName')?.hasError('minlength')">
      Username must be at least 6 characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput id="email" type="email" formControlName="email" />
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Email is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
      Email is invalid.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput id="pwd" type="password" formControlName="pwd" />
    <mat-error *ngIf="registrationForm.get('pwd')?.hasError('required')">
      Password is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('pwd')?.hasError('minlength')">
      Password must be at least 6 characters.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput id="cPwd" type="password" formControlName="cPwd" />
    <mat-error *ngIf="registrationForm.get('cPwd')?.hasError('required')">
      Confirm Password is required.
    </mat-error>
    <mat-error *ngIf="registrationForm.get('cPwd')?.hasError('minlength')">
      Confirm Password must be at least 6 characters.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign Up</button>
</form>

<a mat-button color="accent" [routerLink]="['/login']">already have an account</a>