<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <mat-list-item>
          <a mat-button routerLink="/home">Home</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button routerLink="/adoptPet">Chosen pets</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-button routerLink="/animals">Animals</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <app-navbar [sidenav]="sidenav"></app-navbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  